*{
    box-sizing: border-box;
}
header{
    text-align: center;
    border: 3px solid black;
    margin-bottom: 20px;
    /* background: rgba(90, 79, 173, 0.76); */
    background-image: url(https://i.redd.it/ugw3kgxukeu11.jpg);
    background-size: stretch;
    background-position: center;
    background-repeat: no-repeat;
    color: silver;
    font-size: 35px;
    text-shadow: black 1px 2px 10px;
    border-radius: 15px;
    text-decoration: underline;
    width: 70%;
}
body{
    /* background: rgba(102, 205, 170, .5); */
    background-image: url(https://wallpapercave.com/wp/wp2931604.jpg);
    background-size: contain;
}

.main{
    display: flex;
}

.player1{
    border: 5px solid goldenrod;
    float: left;
    width: 33%;
    height: 250px;
    text-align: center;
    margin: 3px;
    /* background: lightgrey; */
    background-image: url(https://ak.picdn.net/shutterstock/videos/1014989767/thumb/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: goldenrod;
    border-radius: 15px;
}

.changes{
    border: 3px solid saddlebrown;
    width: 33%;
    height: 200px;
    align-items: center;
    margin: auto 25px;
    border-radius: 5px;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50%;
    background: goldenrod;
    padding: 5px;
}

.player2{
    float: right;
    border: 5px solid dodgerblue;
    width: 33%;
    height: 250px;
    text-align: center;
    margin: 3px;
    /* background: lightgrey; */
    background-image: url(https://ak.picdn.net/shutterstock/videos/1014989767/thumb/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: dodgerblue;
    border-radius: 15px;
}

.p1buttons{
    flex-direction: column;
}

.bothbuttons{

    flex-direction: column;
}
.p2buttons{

    flex-direction: column;
}

.changes .box{
    width: 50%;
    height: 40px;
}

.gabu{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;
    background: dodgerblue;
}

button{
    width: 75%;
    height: 40px;
    margin: 2px 20px;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
    font-size: larger;
    border: 2px solid white;
}

p{
    font-size: 50px;
    font-family: 'Audiowide', cursive;
    color: lightsteelblue;
    width: 75%;
    margin-left: 50px;
    margin-top: 100px;
    margin-bottom: 0px;
}

.p1add, .addboth, .p2add{
    background: rgba(0, 128, 0, 0.692);
}

.p1sub, .subboth, .p2sub{
    background: rgba(255, 0, 0, 0.664);
}

h2{
    font-family: 'Black Ops One', cursive;
    font-size: 40px;
    text-decoration: underline;
    margin-top: 0px;
}

.center-footer{
    display: flex;
    justify-content: center;
}

.footer{
    display: inline-block;
    width: 50%;
    text-align: center;
    margin-top: 100px;
    font-size: 50px;
    background: white;
    font-family: 'Black Ops One', cursive;
    padding: 10px 0px;
    border-radius: 10px;
    border: 5px solid grey;
}

.reset{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.reset-button{
    width: 15%;
    border: 3px solid grey;
}

.center-header{
    display: flex;
    justify-content: center;
}
input{
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
}

@media screen and (max-width: 760px){
    header{
        width: 100%;
        border-radius: 0px;font-size: medium;
        margin: 0px;
    }
    .center-header{
        display: block;
        width: 100%;
        margin: 0;
    }

    .changes{
        position: absolute;
        top: 35%;
        width: 100%;
        margin: 0;
        height: min-content;
    }

    button{
        font-size: small;
        margin: auto;
        height: fit-content;
    }
    .player1{
        height: 75px;
        width: 50%;

    }

    .player2{
        width: 50%;
        height: 75px;
    }
    .footer{
        font-size: medium;
        position: absolute;
        top: 45%;
    }
    .reset{
        position: absolute;
        top: 75%;
        width: 100%;
    }

    p{
        font-size: medium;
        margin: 10px auto 2px;
    }
    h2{
        font-size: large;
    }



}